1. Lakukan 4 operasi aritmatika pada 2 variabel di bawah (tambah, kurang, kali, bagi), lalu simpan semua hasilnya didalam list dan tampilkan.

var_1 = 10

var_2 = 2

In [12]:
# kerjakan soal no 1 pada sel ini
#keluaran yang diharapkan : [12,8,20,5]

var_1 = 10

var_2 = 2

print(var_1 + var_2 , var_1 - var_2 , var_1 * var_2, int(var_1 / var_2))

12 8 20 5

2. Dengan menggunakan index keluarkan nilai dari dua tuple di bawah

a. ('Budi', 'Rani', 'Indah', 'Ilham')

b. (20, 18, 22, 27)

dari tuple a keluarkan Rani, dan dari tuple B keluarkan 22. lalu tampilkan dengan print() sesuai format yang diharapkan

In [13]:
#kerjakan soal no 2 pada sel ini
#keluaran yang diharapkan: "Rani adalah mahasiswi yang berusia 22 tahun"

tuple_01 = ('Budi', 'Rani', 'Indah', 'Ilham')

tuple_02 = (20, 18, 22, 27)

print(str(tuple_01[1]) + " adalah mahasiswi yang berusia " + str(tuple_02[2]) )

Rani adalah mahasiswi yang berusia 22

3. Cari kota asal dari user dengan data di bawah. Cari nilai uniknya/jangan sampai ada pengulangan.

data_dict = {'Rudi':'bandung', 'Nina':'jakarta', 'Mia':'semarang', 'Indah':'bandung', 'Salman':'surabaya', 'Mikail':'jakarta'}


Hint - Gunakan Set

In [14]:
#kerjakan soal no 3 pada sel ini
#keluaran yang diharapkan: {'bandung','jakarta','semarang','surabaya'}
#urutan keluaran tidak penting

data_dict = {'Rudi':'bandung', 'Nina':'jakarta', 'Mia':'semarang', 'Indah':'bandung', 'Salman':'surabaya', 'Mikail':'jakarta'}
#ambil values dari data_dict lalu buat set agar unique (in set urutan tidak penting)
print(set(data_dict.values()))

{'surabaya', 'semarang', 'jakarta', 'bandung'}

4. Gunakan metode slicing untuk mendapatkan hasil yang diharapkan

a = ['1', '13b', 'aa1', 1.32, 22.1, 2.34]
...

In [15]:
#kerjakan soal no 4 pada sel ini
#keluaran yang diharapkan: 
#[ '13b', 'aa1', 1.32, 22.1 ]

a = ['1', '13b', 'aa1', 1.32, 22.1, 2.34] 
#ambil 1 sampai -1
print(a[1:-1])

['13b', 'aa1', 1.32, 22.1]

5. Gabungkan kedua list di bawah ini

a = [1, 3, 5]

b = [5, 1, 3]

In [16]:
#kerjakan soal no 5 pada sel ini
#keluaran yang diharapkan: 
#[5, 1, 3, 1, 3, 5]

a = [1, 3, 5]

b = [5, 1, 3]
#gabung b dengan a
print(b+a)

[5, 1, 3, 1, 3, 5]

6. Hilangkan elemen yang bernilai "bathroom" dan 10.50 lalu print kembali list areas

areas = ["hallway", 11.25, "kitchen", 18.0,
        "chill zone", 20.0, "bedroom", 10.75,
         "bathroom", 10.50, "poolhouse", 24.5,
         "garage", 15.45]

...

In [17]:
#kerjakan soal no 6 pada sel ini
#keluaran yang diharapkan: 
#['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'poolhouse', 24.5, 'garage', 15.45]

areas = ["hallway", 11.25, "kitchen", 18.0, "chill zone", 20.0, 
         "bedroom", 10.75, "bathroom", 10.50, "poolhouse", 24.5, "garage", 15.45]
#hapus 8 sampai 9
del areas[8:10] #areas.pop(8) #areas.pop(8)
#print areas
print(areas)

['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'poolhouse', 24.5, 'garage', 15.45]

7.

***europe = {'spain':'madrid', 'france':'paris', 'germany':'bonn', 'norway':'oslo', 'italy':'rome', 'poland':'warsaw', 'australia':'vienna' }***


update nilai ibukota german ke berlin

.........

remove australia dari europa

........

print(europe)

In [18]:
#kerjakan soal no 7 pada sel ini
#keluaran yang diharapkan: 
#{'spain': 'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo', 'italy': 'rome', 'poland': 'warsaw'}

europe = {'spain':'madrid', 'france':'paris', 'germany':'bonn', 'norway':'oslo', 
          'italy':'rome', 'poland':'warsaw', 'australia':'vienna' }
#buat new dict
new = {'germany':'berlin'}
#update new dict
europe.update(new)
#takeout 'australia'
europe.pop('australia')

print(europe)

{'spain': 'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo', 'italy': 'rome', 'poland': 'warsaw'}

8.
Cari semua nilai yang sama dari kedua list berikut ini. Print dalam bentuk list


a = [1,4,24,53,67,45,23,4,7,8,2,9,6,10,19,20,23,13,19]

b = [1,3,5,7,9,11,13,15,17,19,21,23]

In [19]:
#kerjakan soal no 8 pada sel ini
#keluaran yang diharapkan: 
#[1, 7, 9, 13, 19, 23]

a = [1,4,24,53,67,45,23,4,7,8,2,9,6,10,19,20,23,13,19]

b = [1,3,5,7,9,11,13,15,17,19,21,23]
#buat a dan b set agar uniq, lalu convert ke list lalu print
print(list(set(a) & set(b))) #print(a.intersection(b))

[1, 7, 9, 13, 19, 23]